<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.cajami.com.mechanicalassistanceapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MechanicalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="mechanicalapp.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="pe.cajami.com.mechanicalassistanceapp.models" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterUserActivity"
            android:label="@string/registrarUsuario"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".activities.MainCustomerActivity" android:label="@string/cliente" />
        <activity android:name=".activities.RegisterEmergencyActivity" />
        <activity android:name=".activities.MainProviderActivity" android:label="@string/proveedor"/>
        <activity
            android:name=".activities.EditCustomerActivity"
            android:parentActivityName=".activities.MainCustomerActivity"
            android:label="Edit Customer" />
        <activity android:name=".activities.EditProviderActivity"></activity>
    </application>

</manifest>